<div class="main-container">
  <div class="alert alert-app-level">
    Alert class: alert alert-app-level
  </div>
  <header class="header header-6">
    Header
  </header>
  <nav class="subnav">
    Sub nav
  </nav>
  <div class="content-container">
    <div class="content-area">
      <h2>Content area</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit quis
        provident dolores eligendi animi odio quas quibusdam, repellendus
        repellat impedit ex itaque nobis nemo dolorem quaerat blanditiis veniam
        a quo.
      </p>
    </div>
    <nav class="sidenav">
      Side Nav
    </nav>
  </div>
</div>
