<!-- <div class="alert alert-app-level">
  Top level Alert panel
</div> -->
<clr-header class="header-6">
  <div class="branding">
    <a [routerLink]="['/']" routerLinkActive="active" class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">SIIPAPX CxC</span>
    </a>
  </div>

  <div class="header-nav" [clr-nav-level]="1">
    <a
      *ngFor="let item of navigation"
      class="nav-link nav-text"
      [routerLink]="item.path"
      routerLinkActive="active"
    >
      {{ item.label }}
    </a>
  </div>

  <div class="header-actions">
    <clr-dropdown>
      <button
        class="nav-text"
        clrDropdownTrigger
        aria-label="open user profile"
      >
        <clr-icon shape="user"></clr-icon>
        <span class="nav-text">Rubén Cancino</span>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="..." clrDropdownItem>Preferences</a>
        <a href="..." clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
