<section class="sidenav-content">
  <ng-container *ngFor="let item of navigation; let i = index">
    <section class="nav-group collapsible" *ngIf="item.children; else navLink">
      <input [attr.id]="item.name + i" type="checkbox" />
      <label for="{{ item.name + i }}">{{ item.label }}</label>
      <ul class="nav-list">
        <li *ngFor="let row of item.children; let i = rowIdx">
          <a
            class="nav-link"
            [routerLink]="[row.path]"
            routerLinkActive="active"
          >
            <clr-icon
              [attr.shape]="row.icon"
              *ngIf="row.icon"
              class="is-highlight is-solid"
            ></clr-icon>
            {{ row.label }}
          </a>
        </li>
      </ul>
    </section>

    <ng-template #navLink>
      <a
        [routerLink]="[item.path]"
        routerLinkActive="active"
        class="nav-link"
        *ngIf="item.path; else group"
      >
        <clr-icon [attr.shape]="item.icon" *ngIf="item.icon"></clr-icon>
        <span>{{ item.label }}</span>
      </a>
    </ng-template>
  </ng-container>
</section>

<!-- <a href="..." class="nav-link active">
  Nav Element 1
</a>
<a href="..." class="nav-link">
  Nav Element 2
</a>
<section class="nav-group collapsible">
  <input id="tabexample1" type="checkbox" />
  <label for="tabexample1">Collapsible Nav Element</label>
  <ul class="nav-list">
    <li><a class="nav-link">Link 1</a></li>
    <li><a class="nav-link">Link 2</a></li>
  </ul>
</section>
<section class="nav-group">
  <input id="tabexample2" type="checkbox" />
  <label for="tabexample2">Default Nav Element</label>
  <ul class="nav-list">
    <li><a class="nav-link">Link 1</a></li>
    <li><a class="nav-link">Link 2</a></li>
    <li><a class="nav-link active">Link 3</a></li>
    <li><a class="nav-link">Link 4</a></li>
    <li><a class="nav-link">Link 5</a></li>
    <li><a class="nav-link">Link 6</a></li>
  </ul>
</section> -->
